.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-color: white;
  background-repeat: no-repeat;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: rgb(0, 1, 2);
}
.profile-details-name {
  font-size: 40px;
  font-family: "Cookie", cursive;
  position: absolute;
  left: 60px;
  top: 200px;
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 20px;
  font-family: "Roboto Serif", sans-serif;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.primary-text {
  color: (--white);
}
.highlighted-text {
  color: red;
}
.profile-role-tagline {
  font-size: 29px;
  margin: 5px 0 0 0;
  font-family: "Redressed", cursive;
  left: 280px;
  top: 90px;
}
.profile-options .highlighted-btn {
  margin: 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 28px;
  background-color: rgb(231, 158, 109);
  color: black;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  display: flex;
  height: 72%;
  width: 72%;
  background-image: url("../../assets/Home/profilephoto2.png");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture :hover {
  transform: scale(1.07);
  transition: 1s ease-in-out;
}
.colz .colz-icon i {
  justify-items: center;
  color: rgb(7, 4, 1);
  padding: 17px;
  padding-left: 0px;
}
.colz .colz-icon :hover {
  transform: scale(1, 1.5);
}
.profile-image {
  display: flex;
  justify-content: center;
  width: 438px;
  height: 349px;
  position: fixed;
  left: 874px;
  top: 206px;
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}
@keyframes mymove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 1110px) {
  .profile-image {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 35px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    justify-items: center;
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media screen and (max-width: 910px) {
  .profile-image {
    height: 224px;
    width: 224px;
    margin: 20px;
  }
}
@media screen and (max-width: 810px) {
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options,
  .profile-image {
    display: flex;
    justify-content: center;
  }

  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }

  .profile-image {
    margin: center !important;
  }
  .profile-options,
  .profile-details-role {
    text-align: center;
  }
}

/* Down arrow */

.logo-fit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 71px;
  height: 71px;
  left: 43px;
  top: 40px;

  border-radius: 50%;
}
.logo-fit :hover {
  transform: scale(1.07);
  transition: 1s ease-in-out;
}
